# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
.Python
venv/
env/

# Node
node_modules/
frontend/dashboard/node_modules/

# Hardhat
contracts/artifacts/
contracts/cache/

# Database
*.db

# OS
.DS_Store
Thumbs.db